{% extends "base_generic.html" %}
{% block title %}foget your password?{% endblock %}

{% block content %}
<br>



  <h3>Reset Password</h3>
  <br>
  <div class="form-group">
  <form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %}
      {{ form.email.errors }}
    {% endif %}


    <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">
    <br>

    <input type="submit" class="btn btn-outline-primary" value="Send">


  </form>
</div>
{% endblock %}


